.calculator > h1 {
  color: var(--theme-color-main);
  text-transform: uppercase;
}

.calculator input {
  height: 2.5rem;
  width: 13rem;
  padding: 0.4rem;
  border: 1px solid transparent;
  font-size: 1.5rem;
  color: var(--theme-color-main);
}

.calculator button {
  border-color: transparent;
  width: 3.5rem;
  height: 3.5rem;
  font-size: 1.5rem;
  color: var(--theme-color-main);
}

.calculator-buttons-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator-operators {
  display: flex;
  flex-direction: column;
}

.calculator-operators button {
  color: white;
  background-color: var(--theme-color-operator-background);
}

#keyboard-hints-container {
  cursor: pointer;
  display: block;
}

#keyboard-hints-container > p {
  font-size: 2em;
  margin-bottom: 0;
}

#keyboard-hints-container:hover div {
  display: inline-block;
}

#keyboard-hints {
  display: none;
}

kbd {
	display: inline-block;
	margin: 0 .1em;
	padding: .1em .6em;
	font-size: 1em;
	line-height: 1.4;
	color: var(--black-800);
	text-shadow: 0 1px 0 white;
	background-color: #e4e6e8;
	border: 1px solid #9fa6ad;
	border-radius: 3px;
	box-shadow: 0 1px 1px rgba(12,13,14,0.15),inset 0 1px 0 0 white;
	white-space: nowrap;
}